#contenedor{
    margin : auto;
    width: 90% ;
    margin-top: 100px;
   } 
.carousel-inner{
    width: 100%;
    height: 750px;
}
footer{
 background-color: rgba(0, 0, 255, 0.829);
    padding: auto;
    color: aliceblue;
    clear: both;
    text-align: center;
    box-sizing: border-box;
   font-style: oblique;
}
